<div fxLayout="column" fxFlexFill>
    <div fxFlex class="content">
        <div class="flex-container backgroudcolor" fxLayout="row" fxLayoutAlign="space-between">
            <button routerLink="/home" class="btn btn-secondary">Home</button>
            <button routerLink="/users" class="btn btn-secondary">Users</button>
        </div>
        <router-outlet>
    
        </router-outlet>
        
    </div>
  </div>