<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <h2>User formular</h2>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="userForm">

                <div class="form-group">
                    <label>
                        Id:
                        <input type="number" formControlName="id">
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        Name*:
                        <input type="text" formControlName="name" required>
                    </label>

                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                        class="alert alert-danger">

                        <div *ngIf="name.errors.required">
                            Name is required.
                        </div>
                        <div *ngIf="name.errors.minlength">
                            Name must be at least 3 characters long.
                        </div>
                        <div *ngIf="name.errors.maxlength">
                            Name must be at most 64 characters long.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Surname*:
                        <input type="text" formControlName="surname" required>
                    </label>
                    <div *ngIf="surname.invalid && (surname.dirty || surname.touched)"
                        class="alert alert-danger">

                        <div *ngIf="surname.errors.required">
                            Surname is required.
                        </div>
                        <div *ngIf="surname.errors.minlength">
                            Surname must be at least 3 characters long.
                        </div>
                        <div *ngIf="surname.errors.maxlength">
                            Surname must be at most 64 characters long.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Age*:
                        <input type="number" formControlName="age" required>
                    </label>
                    <div *ngIf="age.invalid && (age.dirty || age.touched)"
                        class="alert alert-danger">
                        <sup>*</sup>Age should be between 18 and 150 years old
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Profession*:
                        <input type="text" formControlName="profession" required>
                    </label>
                    <div *ngIf="profession.invalid && (profession.dirty || profession.touched)"
                        class="alert alert-danger">

                        <div *ngIf="profession.errors.required">
                            Profession is required.
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>
                        Mail*:
                        <input type="text" formControlName="mail" required>
                    </label>
                    <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
                        class="alert alert-danger">

                        <div *ngIf="mail.errors.required">
                            Mail is required.
                        </div>
                        <div *ngIf="mail.errors.email">
                            Give a valid mail please
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Phone:
                        <input type="text" formControlName="phone">
                    </label>
                </div>

                <!-- Add adress nested formular-->
                <div formGroupName="address">
                    <h3>Address</h3>

                    <div>
                        <label>
                            Road number*:
                            <input type="number" formControlName="roadNumber" required>
                        </label>
                        <div *ngIf="address.controls['roadNumber'].invalid && (address.controls['roadNumber'].dirty || address.controls['roadNumber'].touched)"
                            class="alert alert-danger">
                            <sup>*</sup>Road number should be between 01 and 999
                        </div>
                    </div>

                    <div>
                        <label>
                            Street*:
                            <input type="text" formControlName="street" required>
                        </label>
                        <div *ngIf="address.controls['street'].invalid && (address.controls['street'].dirty || address.controls['street'].touched)"
                            class="alert alert-danger">

                            <div *ngIf="address.controls['street'].errors.required">
                                Street is required.
                            </div>
                        </div>
                    </div>

                    <div>
                        <label>
                            Postal Code*:
                            <input type="number" formControlName="postalCode" required>
                        </label>
                        <div *ngIf="address.controls['postalCode'].invalid && (address.controls['postalCode'].dirty || address.controls['postalCode'].touched)"
                            class="alert alert-danger">
                            <sup>*</sup>Postal code number should be between 1000 and 99999
                        </div>
                    </div>

                    <div>
                        <label>
                            City*:
                            <input type="text" formControlName="city" required>
                        </label>
                        <div *ngIf="address.controls['city'].invalid && (address.controls['city'].dirty || address.controls['city'].touched)"
                            class="alert alert-danger">

                            <div *ngIf="address.controls['city'].errors.required">
                                City name is required.
                            </div>
                        </div>
                    </div>

                    <div>
                        <label>
                            Country*:
                            <input type="text" formControlName="country" required>
                        </label>
                        <div *ngIf="address.controls['country'].invalid && (address.controls['country'].dirty || address.controls['country'].touched)"
                            class="alert alert-danger">

                            <div *ngIf="address.controls['country'].errors.required">
                                Country name is required.
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" [disabled]="userForm.invalid || userForm.pristine || enableSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>

